*{
    padding: 0;
    margin: auto;
}
body{
    background-color: #E5E5E5;
    padding: 0 40px;

}
body > div{
    background-color: #FFFFFF;
}
.shadow{
    box-shadow: 0 0 5px 2px gray;
}
nav .wrapper{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0 71px;
    display: flex;
}
nav .wrapper > div {
    width: 33%;
    max-height: 65px;
}

.nav-list > li{
    display: inline-block;
    margin-right: 33px;
    font-family: PT-Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: left;

}
.nav-list > li:last-of-type{
    margin-right: 0;
}
.logo{
    display: block;
    margin: 0 auto;
}
.nav-search > a{
    display: inline-block;
    margin-right: 21px;
}

.nav-search > a:last-of-type {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
    padding: 9px 33px 10px 33px;
    text-decoration: none;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #000000;
}


.main-content{

}
.main-content .wrapper {

}

.welcome{
    display: flex;
    flex-direction: column;
    background-image: url("../images/index_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 46px 0 0 0;
}
.welcome-bottom{
    margin: auto;
    width: 100%;"
}

.sedona-small{
    max-width: 720px;
    margin: auto;
    padding: 63px 0 79px 0;
}
.sedona-small h2{
    font-family: PT-Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.sedona-small p{
    font-family: PT-Sans, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
.description{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.description > div{
    width: 33.33%;
    margin:  0;
    padding: 0;

}
.description .content-image-1{
    width: 66.66%;
    border: none;
    margin:  0;
    padding: 0;
    background-image: url("../images/photo-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.description .content-image-2{
    width: 66.66%;
    border: none;
    margin:  0;
    padding: 0;
    background-image: url("../images/photo-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.description .content-text-blue{
    background-color: #83B3D3;
    padding: 98px 0 77px 0;
    box-sizing: border-box;
    margin: 0;
    text-align: center;

}
.description .content-text-blue12{
    background-color: #83B3D31F;
    padding: 98px 0 77px 0;
    box-sizing: border-box;
    margin: 0;
    text-align: center;

}
.description .content-text-blue20{
    background-color: #83B3D333;
    padding: 98px 0 77px 0;
    box-sizing: border-box;
    margin: 0;
    text-align: center;

}
.number-1-2-h3{
    font-family: PT-Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
.number-3-4-5-h3{
    font-family: PT-Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
.advantages-other-h3{
    font-family: PT-Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 184px;
    margin-bottom: 20px;
}
.number-1-2-p{
    font-family: PT-Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 26px 0;
}
.number-3-4-5-p{
    font-family: PT-Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0 0 26px 0;
}

.advantages-other-p{
    font-family: PT-Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin-bottom: 79px;

}

.content-text-house{
    background-color: #83B3D31F;
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 89px;
}
.content-text-food{
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 91px;
}
.content-text-souvenirs{
    background-color: #83B3D31F;
    background-image: url("../images/souvenirs.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 85px;
}

.find-hotel{
    padding: 100px 0 100px 0;
    text-align: center;
}
.find-hotel h2{
    font-family: PT-Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 15px;

}
.find-hotel p{
    font-family: PT-Sans, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    color: #333333;
    margin-bottom: 86px;
}
.find-hotel a{
    font-family: PT-Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 10px;
    padding: 13px 130px 17px 130px;
    text-decoration: none;
    text-transform: uppercase;
}

.subscribe{
    padding: 94px 0;
    text-align: center;
    background-image: url("../images/background-subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe h2{
    font-family: PT-Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subscribe p{
    font-family: PT-Sans, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 26px;
}


#email{
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    font-family: PT-Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding: 17px 22px 17px 19px;
    border: none;
    display: inline-block;
    width: 600px;  /*Не выходит по другому пока */
}

#submit{
    font-family: PT-Sans, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    padding: 16px 22px 18px 19px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 10px 10px 0;
    border: none;
    width: 200px; /*Не выходит по другому пока */
    margin-left: -3.5px;
}

.contacts{
    max-width: 1056px;
    max-height: 120px;

}
.social-net{
    padding: 50px 0 54px 0;
    margin-right: 29px;


    /*margin-right: 61px;*/
}
.contacts > p{
    font-family: PT-Sans, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 720px;
    padding: 40px 0 30px 0;


}
.html-academy > img{
    display: inline-block;
    float: right;
    margin-left: 53px;
    padding: 42px 0 45px 0;
}


@font-face {
    font-family: "PT-Sans";
    /*src: url("../fonts/PTS55F.ttf") format("truetype");*/
    /*src: url("../fonts/PTS56F.ttf") format("truetype");*/
    src: url("../fonts/PTS75F.ttf") format("truetype");
    /*src: url("../fonts/PTS76F.ttf") format("truetype");*/
    font-style: normal;
}